*{
    margin: 0px;
    padding: 0px;
}
.header{
height: 100px;
    margin: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 28px;
    
}

.lg{
    width: 350px;
    height: 200px;
}
    
.link{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.lk{
    margin-right: 10px;
    
    
}
a{
    text-decoration: none;
}